<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.BookMapper" >


  <select id="queryCarList" resultType="com.jk.model.Book">
    SELECT  * FROM t_book;
  </select>

  <insert id="addBookPage">

    <selectKey resultType="java.lang.Integer" keyProperty="carid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>

    insert into t_book (bookname,bookprice,booktype)
    values (#{bookname},#{bookprice},#{booktype})
  </insert>

  <delete id="delAll" parameterType="int">
    delete from t_book where bookid in
    <foreach collection="array" index="index" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <select id="queryById" resultType="com.jk.model.Book" parameterType="int">
    select * from t_book where bookid=#{id}
  </select>

  <update id="updateBook" parameterType="com.jk.model.Book">
    update t_book set bookname=#{bookname},bookprice=#{bookprice},booktype=#{booktype} where bookid=#{bookid}
  </update>
</mapper>